# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo

# Environnement virtuel
venv/
.venv/
env/

# =========================
# Variables environnement
# =========================

.env

# =========================
# React / Vite / Node
# =========================

node_modules/
dist/
.vite/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# Logs
# =========================

*.log

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# OSM / données volumineuses
# =========================

*.osm.pbf
*.pbf

# =========================
# PostgreSQL / sauvegardes
# =========================

*.sql
*.dump
*.backup